$font-marcellus: "Marcellus", serif;
$font-open-sans: "Open Sans", sans-serif;

// Weights
$font-weight-regular: 400;
$font-weight-bold: 700;

// _variables.scss

$gradient-bg: linear-gradient(to right, #2e2b2b 0%, #1e1864 50%, #3b3b36 100%);

//1536 730
